.mat-toolbar {
  margin-top: -20px;


  .mat-toolbar-row {
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;
    }

    .right {
      .loginLink {
        cursor: pointer;
      }

      .profile-image {
        background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
        background-size: cover;
        width: 30px;
        height: 30px;
        border-radius: 25px;
        cursor: pointer;
      }
    }
  }


}
