<mat-toolbar>
  <mat-toolbar-row>
    <div class="left">
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <h3>{{currentSection}}</h3>
    </div>


    <div class="right">

      <ng-container *ngIf="auth.loggedIn()">

        <div mat-card-avatar class="profile-image" #r="matMenuTrigger" [matMenuTriggerFor]="menu"
             (click)="r.openMenu()"></div>
        <mat-menu #menu="matMenu" [overlapTrigger]="false">

          <button mat-menu-item *ngIf="routerUrl!=='/users/profile'" (click)="router.navigate(['users/profile'])">
            <mat-icon>person</mat-icon>
            <span>Profile</span>
          </button>

          <button mat-menu-item (click)="auth.logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </ng-container>

      <ng-container *ngIf="!auth.loggedIn()">
        <span class="loginLink" *ngIf="routerUrl!=='/auth/login'" (click)="router.navigate(['auth/login'])">Log in</span>
      </ng-container>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
