<div class="form-container">

  <h4>Your personal information</h4>
  <form [formGroup]="userProfileForm" class="userProfileForm">

    <div class="left">
      <mat-form-field>
        <input matInput formControlName="first_name" placeholder="First name">
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="email" placeholder="Email">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Select county</mat-label>
        <mat-select [placeholder]="'county'" formControlName="county_id">
          <mat-option *ngFor="let county of counties" [value]="county.id">
            {{county.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <button mat-raised-button (click)="save()">Cancel</button>


    </div>

    <div class="right">

      <mat-form-field>
        <input matInput formControlName="last_name" placeholder="Last name">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Select state</mat-label>
        <mat-select formControlName="state_id">
          <mat-option *ngFor="let state of states" [value]="state.id">
            {{state.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="zip_code" placeholder="Zip code">
      </mat-form-field>


      <button mat-raised-button color="primary" (click)="save()">Save changes</button>

    </div>
  </form>
</div>
