<form [formGroup]="attachTerritoryForm" class="attachTerritoryForm">

  <h4>Users</h4>
  <mat-form-field>
    <mat-label>Select users count</mat-label>
    <input matInput type="number" min="1" max="10">
  </mat-form-field>


  <h4>States</h4>
  <mat-form-field>
    <mat-label>Select a state</mat-label>
    <mat-select (selectionChange)="changeState($event)">
      <mat-option *ngFor="let st of states" [value]="st.name">
        {{st.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <h2>Counties</h2>
  <!--  <mat-form-field *ngIf="selectedState">-->
  <!--    <mat-label>Select counties</mat-label>-->
  <!--    <mat-select multiple>-->
  <!--      <mat-option *ngFor="let c of counties" [value]="c.name">-->
  <!--        {{c.name}}-->
  <!--      </mat-option>-->
  <!--    </mat-select>-->
  <!--  </mat-form-field>-->


  <div class="example-container">
    <h4>All</h4>

    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="counties"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let c of counties" cdkDrag>{{c.name}}</div>
    </div>
  </div>

  <div class="example-container">
    <h4>Selected</h4>

    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="selectedCounties"
      [cdkDropListConnectedTo]="[todoList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of selectedCounties" cdkDrag>{{item.name}}</div>
    </div>
  </div>


</form>
